{block content}
    <h1 n:block="title">Můj blog</h1>

    {foreach $entries as $entry}
        <div class="post">
            <div class="date">{$entry->headWord}</div>

            <h2>{$entry->headWordJapanese}</h2>

            <div>{$entry->meaning}</div>
        </div>
    {/foreach}
{/block}