{block content}
{include menu.latte}

<br>
{form entryForm}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>

        <div class="form-group row">
            <label for="headWord" class="col-sm-2 col-form-label">Klíčové slovo</label>
            <div class="col-sm-10">
                {input headWord}
            </div>
            <label for="headWordJapansese" class="col-sm-2 col-form-label">Japonsky</label>
            <div class="col-sm-10">
                {input headWordJapanese}
            </div>
            <label for="type" class="col-sm-2 col-form-label">Typ</label>
            <div class="col-sm-10">
                {input type}
            </div>
            <label for="usageRestriction" class="col-sm-2 col-form-label">Omezení použití</label>
            <div class="col-sm-10">
                {input usageRestriction}
            </div>
        </div>

    <div class="form-group row">
        <label for="meaning" class="col-sm-2 col-form-label">Význam</label>
        <div class="col-sm-10">
            {input meaning}
        </div>
    </div>

    <div class="form-group row">
        <label for="counterpart" class="col-sm-2 col-form-label">Protějšek</label>
        <div class="col-sm-10">
            {input counterpart}
        </div>
        <label for="relExp" class="col-sm-2 col-form-label">Související</label>
        <div class="col-sm-10">
            {input relExp}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            {input save}
        </div>
    </div>


{/form}