{block content}
{include menu.latte}
<br>
{form examplesForm}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="form-group row">
        <label for="entry_id" class="col-sm-2 col-form-label">Klíčové slovo</label>
        <div class="col-sm-10">
            {input entry_id}
        </div>
        <label for="example" class="col-sm-2 col-form-label">Příklad</label>
        <div class="col-sm-10">
            {input example}
        </div>
        <label for="translation" class="col-sm-2 col-form-label">Překlad</label>
        <div class="col-sm-10">
            {input translation}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            {input save}
        </div>
    </div>
{/form}