{block menu}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{link Admin:default}">Domů <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link Admin:examples}">Příklady</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tvorba</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Klíčové věty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Poznámky</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{/block}